.p-input-icon-left {
  position: relative;
}

.p-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.p-button {
  color: black;
  border: 1px solid gray;
  font-size: larger;
}

.p-dialog .p-dialog-header {
  padding: 1.5rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.p-dialog {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.p-dialog-content {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.p-dialog {
  border-radius: 20px;
  border: 2.5px solid #b3b3b3;
}

.p-calendar-w-btn .p-inputtext {
  border: 1px solid gray;
  height: 5vh;
}

.p-calendar-w-btn .p-datepicker-trigger {
  height: 5vh;
  margin-top: 0.3rem;
}

.p-dialog-header-close-icon {
  font-size: 50rem;
}
