* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bagColor: #FFFFFF;
    --buttonBorderColor: #000000,

}



.Login_Container{


}



.Login-btn {

    background-color: var(--buttonBorderColor);

    color: var(--bagColor);


}































/* * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.main-conatiner {
    width: 100%;
    height: 100Vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(45, 45, 197);


}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.login_Form {

    width: 23vw;
    height: 58vh;
    border: 2px solid rgb(230, 230, 236);
    padding: 1rem;
    border-radius: 0.90rem;
    margin-top: 1rem;
    background-color: white;


}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1rem;
}

.email input {
    width: 15vw;
    height: 2.4rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid gray;


}

.password input {
    width: 15vw;
    height: 2.4rem;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1rem;
}

.login-btn button {
    width: 15vw;
    height: 5vh;
    margin: 1rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.btn-facebook button {
    width: 15vw;
    height: 5vh;
    margin: 1rem;
    background-color: rgb(45, 45, 197);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-google button {
    width: 15vw;
    height: 5vh;
    margin: 1rem;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
    color: gray;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.other {
    margin-top: 0.80rem;
}

.iconFacebook {
    display: flex;
    padding: 10px;

}

.iconGoogle {
    display: flex;
    padding: 10px;


}

.error {
    color: red;
    font-size: small;
    font-weight: bold;
}


.forgotPass {

    color: blue;
    cursor: pointer;
    font-size: 0.90rem;
}

.dont-have-account {

    font-size: 1rem;
}

.sinup {

    margin-left: 7rem;
} */

/* responsiveness */

/* 
@media screen and (min-width: 320px) {
    .login_Form {

        width: 94vw;
        height: 57vh;
    }

    .email input {
        width: 100vw;
        height: 2rem;
    }

    .password input {
        width: 78vw;
        height: 2rem;

    }


    .login-btn button {
        width: 80vw;
        height: 5vh;

    }

    .btn-facebook button {
        width: 80vw;
        height: 5vh;

    }

    .btn-google button {
        width: 80vw;
        height: 5vh;


    }

    .login-Heading {

        font-size: 0.50rem;
    }


    .dont-have-account {

        font-size: 0.80rem;
    }

    .sinup {

        margin-left: 3rem;
    }

}




@media screen and (min-width: 375px) {
    .login_Form {

        width: 94vw;
        height: 60vh;
    }

    .email input {
        width: 78vw;
        height: 2.50rem;
    }

    .password input {
        width: 78vw;
        height: 2.50rem;

    }


    .login-btn button {
        width: 80vw;
        height: 5vh;


    }

    .btn-facebook button {
        width: 80vw;
        height: 5vh;

    }

    .btn-google button {
        width: 80vw;
        height: 5vh;


    }


    .login-Heading {

        font-size: 0.50rem;
    }

    .sinup {

        margin-left: 3rem;
    }



}




@media screen and (min-width: 425px) {
    .login_Form {

        width: 94vw;
        height: 60vh;
    }

    .email input {
        width: 78vw;
        height: 2.50rem;
    }

    .password input {
        width: 78vw;
        height: 2.50rem;

    }


    .login-btn button {
        width: 80vw;
        height: 5vh;



    }

    .btn-facebook button {
        width: 80vw;
        height: 5vh;

    }

    .btn-google button {
        width: 80vw;
        height: 5vh;


    }

    .login-Heading {

        font-size: 0.50rem;
    }

    .sinup {

        margin-left: 5rem;
    }




}



@media screen and (min-width: 768px) {
    .login_Form {
        width: 45vw;
        height: 65vh;
    }

    .email input {
        width: 38vw;
        height: 3rem;
    }

    .password input {
        width: 38vw;
        height: 3rem;

    }


    .login-btn button {
        width: 38vw;
        height: 5vh;



    }

    .btn-facebook button {
        width: 38vw;
        height: 5vh;

    }

    .btn-google button {
        width: 38vw;
        height: 5vh;


    }

    .login-Heading {

        font-size: 0.50rem;
    }


    .sinup {

        margin-left: 3rem;
    }



}




@media screen and (min-width: 1024px) {
    .login_Form {
        width: 40vw;
        height: 62vh;

    }

    .email input {
        width: 34vw;
        height: 2.50rem;
    }

    .password input {
        width: 34vw;
        height: 2.50rem;

    }


    .login-btn button {
        width: 34vw;
        height: 5vh;



    }

    .btn-facebook button {
        width: 34vw;
        height: 5vh;

    }

    .btn-google button {
        width: 34vw;
        height: 5vh;


    }

    .login-Heading {

        font-size: 0.60rem;
    }





}


@media screen and (min-width: 1440px) {
    .login_Form {
        width: 30vw;
        height: 57vh;

    }

    .email input {
        width: 24vw;
        height: 3rem;
    }

    .password input {
        width: 24vw;
        height: 3rem;

    }


    .login-btn button {
        width: 24vw;
        height: 5vh;



    }

    .btn-facebook button {
        width: 24vw;
        height: 5vh;

    }

    .btn-google button {
        width: 24vw;
        height: 5vh;


    }

    .login-Heading {

        font-size: 0.70rem;
    }



}



@media screen and (min-width: 1700px) {
    .login_Form {
        width: 25vw;
        height: 60vh;

    }

    .email input {
        width: 20vw;
        height: 3rem;
    }

    .password input {
        width: 20vw;
        height: 3rem;

    }


    .login-btn button {
        width: 20vw;
        height: 5vh;



    }

    .btn-facebook button {
        width: 20vw;
        height: 5vh;

    }

    .btn-google button {
        width: 20vw;
        height: 5vh;


    }

    .login-Heading {

        font-size: 0.70rem;
    }

    .dont-have-account {

        font-size: 1rem;
    }

    .sinup {

        margin-left: 6rem;
    }


}



@media screen and (min-width: 2560px) {
    .login_Form {
        width: 32vw;
        height: 60vh;

    }

    .email input {
        width: 25vw;
        height: 5rem;
        font-size: 1.80rem;
    }

    .password input {
        width: 25vw;
        height: 5rem;
        font-size: 1.80rem;

    }


    .login-btn button {
        width: 25vw;
        height: 5vh;
        font-size: 1.50rem;
        margin: 2rem;


    }

    .btn-facebook button {
        width: 25vw;
        height: 5vh;
        font-size: 1.50rem;
        margin: 2rem;

    }

    .btn-google button {
        width: 25vw;
        height: 5vh;
        font-size: 1.50rem;

    }

    .login-Heading {

        font-size: 2rem;
    }

    .forgotPass {

        font-size: 1.70rem;
    }

    .dont-have-account {

        font-size: 2rem;
    }


}



@media screen and (min-width: 2715px) {
    .login_Form {
        width: 20vw;
        height: 60vh;

    }

    .email input {
        width: 25vw;
        height: 5rem;
        font-size: 1.80rem;
    }

    .password input {
        width: 25vw;
        height: 5rem;
        font-size: 1.80rem;

    }


    .login-btn button {
        width: 25vw;
        height: 5vh;
        font-size: 1.50rem;
        margin: 2rem;


    }

    .btn-facebook button {
        width: 25vw;
        height: 5vh;
        font-size: 1.50rem;
        margin: 2rem;

    }

    .btn-google button {
        width: 25vw;
        height: 5vh;
        font-size: 1.50rem;

    }

    .login-Heading {

        font-size: 2rem;
    }

    .forgotPass {

        font-size: 1.70rem;
    }

    .dont-have-account {

        font-size: 2rem;
    }


} */