/* ::placeholder {
  color: #00426f !important;
}

.input-container {
  position: relative;
  width: 25vw;
  height: 7vh;
  margin-bottom: 10px; 
}

.input-container .input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.input-container input {
  width: calc(100% - 40px); 
  padding: 0 40px 0 10px; 
} */

/* #header{

  background-image: url('/assets/images/loginBackgroundImage.png')",
          backgroundSize: 'cover',
          backgroundPosition: 'center',
} */

/* #header{

  background-image: url('/assets/images/loginBackgroundImage.png')",
          backgroundSize: 'cover',
          backgroundPosition: 'center',
} */