.login-button {
  /* Existing styles */
  border: 1px solid #c5d9e0;
  font-size: 22px;
  line-height: 25.78px;
  color: #ffffff;
  border-radius: 10px;
  background-color: #0098ff;
  text-align: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
}

.info-text {
  width: 100%;
  max-width: 500px;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  margin-top: 1rem;
  color: #00426f;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .login-container {
    padding: 1rem;
  }

  .input-text-custom {
    width: 100%;
    max-width: 100%;
  }

  .login-button {
    width: 100%;
    max-width: 100%;
  }

  .info-text {
    width: 100%;
    max-width: 100%;
  }
}
