#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    /* background-image: url('/assets/images/loginBackgroundImage.png'); */
    background-size: cover;
    background-position: center;
    overflow: auto;
  }
  #header .form-container {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #header .form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #header .form-content img {
    margin-bottom: 1rem;
  }

  #header .form-content .forgot-password {
    width: 100%;
    max-width: 500px;
    text-align: right;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  #header .form-content .forgot-password a {
    color: #00426f;
    text-decoration: underline;
  }

  @media (max-width: 1309px) {
    #header .form-container {
      padding: 1rem;
    }
  
    #header .form-content .input-field input {
      font-size: 14px;
    }
  
    #header .form-content .login-button {
      font-size: 18px;
    }
  
    #header .form-content .info-text {
      font-size: 12px;
    }
  }
  
  @media (max-width: 498px) {
    #header .form-container {
      padding: 0.5rem;
    }
  
    #header .form-content .input-field input {
      font-size: 12px;
    }
  
    #header .form-content .login-button {
      font-size: 16px;
    }
  
    #header .form-content .info-text {
      font-size: 10px;
    }
  }
  