@tailwind base;
@tailwind components;
@tailwind utilities;

.p-dialog {
  border-radius: 10px;
  border: 2px solid #f5efef;
  overflow: hidden;
}

.p-button.p-component {
  border: none;
}

.p-selectbutton .p-component {
  width: 50%;
  font-size: 8px;
  text-align: center;
  border-radius: 5px;
}

.p-selectbutton .p-button.p-highlight {
  background-color: black;
}

.headerClass {
  background-color: black;
}

/* searchDataTable */

.p-datatable .p-datatable-tbody > tr {
  background: #ffffff;
}

.p-datatable-thead > th {
  background: #f2f2f2;
}

.p-datatable-emptymessage {
  background: #ffffff;
}
/* 
.p-inputswitch-slider{
  background-color: green;
} */

.p-inputtext::placeholder {
  color: #a4a4a4 !important;
}

#stateDropdown span {
  color: #a4a4a4 !important;

  font-size: 13px !important;
}
/* .custom-scrollbar{
  background-color: red;
} */